body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-155px;
  width:1141px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
}
#u3985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:1259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:340px;
  width:1141px;
  height:1259px;
  display:flex;
}
#u3986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:399px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3988_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:388px;
  width:261px;
  height:44px;
  display:flex;
}
#u3988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3988_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988.disabled {
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:481px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:578px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3990 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3990_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3991_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:925px;
  height:922px;
  display:flex;
}
#u3991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3991_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991.disabled {
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:921px;
  height:918px;
}
#u3993_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:918px;
  overflow:auto;
}
#u3994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3995 label {
  left:0px;
  width:100%;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3995 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3995_img.selected {
}
#u3995.selected {
}
#u3995_img.disabled {
}
#u3995.disabled {
}
#u3995_img.selectedDisabled {
}
#u3995.selectedDisabled {
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3995_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3996 label {
  left:0px;
  width:100%;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3996_img.selected {
}
#u3996.selected {
}
#u3996_img.disabled {
}
#u3996.disabled {
}
#u3996_img.selectedDisabled {
}
#u3996.selectedDisabled {
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3996_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3997 label {
  left:0px;
  width:100%;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3997 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3997_img.selected {
}
#u3997.selected {
}
#u3997_img.disabled {
}
#u3997.disabled {
}
#u3997_img.selectedDisabled {
}
#u3997.selectedDisabled {
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3997_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:179px;
  width:409px;
  height:150px;
  display:flex;
}
#u4000 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
