body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-155px;
  width:1141px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
}
#u3722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:1259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:340px;
  width:1141px;
  height:1259px;
  display:flex;
}
#u3723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:399px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3725_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:388px;
  width:261px;
  height:44px;
  display:flex;
}
#u3725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3725_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725.disabled {
}
#u3726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:481px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:578px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3728_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:925px;
  height:922px;
  display:flex;
}
#u3728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3728_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728.disabled {
}
#u3729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:921px;
  height:918px;
}
#u3730_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:918px;
  overflow:auto;
}
#u3731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3732 label {
  left:0px;
  width:100%;
}
#u3732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3732 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3732_img.selected {
}
#u3732.selected {
}
#u3732_img.disabled {
}
#u3732.disabled {
}
#u3732_img.selectedDisabled {
}
#u3732.selectedDisabled {
}
#u3732_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3732_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3733 label {
  left:0px;
  width:100%;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3733 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3733_img.selected {
}
#u3733.selected {
}
#u3733_img.disabled {
}
#u3733.disabled {
}
#u3733_img.selectedDisabled {
}
#u3733.selectedDisabled {
}
#u3733_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3733_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3734 label {
  left:0px;
  width:100%;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3734 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3734_img.selected {
}
#u3734.selected {
}
#u3734_img.disabled {
}
#u3734.disabled {
}
#u3734_img.selectedDisabled {
}
#u3734.selectedDisabled {
}
#u3734_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3734_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:179px;
  width:409px;
  height:150px;
  display:flex;
}
#u3737 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
