body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-155px;
  width:1141px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
}
#u3390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:1259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:340px;
  width:1141px;
  height:1259px;
  display:flex;
}
#u3391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:399px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3392 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3392_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3393_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:388px;
  width:261px;
  height:44px;
  display:flex;
}
#u3393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3393_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3393.disabled {
}
#u3394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:481px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:578px;
  width:90px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3396_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:925px;
  height:922px;
  display:flex;
}
#u3396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3396_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:922px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3396.disabled {
}
#u3397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:565px;
  width:921px;
  height:918px;
}
#u3398_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:918px;
  overflow:auto;
}
#u3399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1511px;
  width:140px;
  height:40px;
  display:flex;
}
#u3399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3400 label {
  left:0px;
  width:100%;
}
#u3400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3400 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3400_img.selected {
}
#u3400.selected {
}
#u3400_img.disabled {
}
#u3400.disabled {
}
#u3400_img.selectedDisabled {
}
#u3400.selectedDisabled {
}
#u3400_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3400_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3401 label {
  left:0px;
  width:100%;
}
#u3401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3401 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3401_img.selected {
}
#u3401.selected {
}
#u3401_img.disabled {
}
#u3401.disabled {
}
#u3401_img.selectedDisabled {
}
#u3401.selectedDisabled {
}
#u3401_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3401_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3402 label {
  left:0px;
  width:100%;
}
#u3402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  height:20px;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:487px;
  width:100px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3402 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3402_img.selected {
}
#u3402.selected {
}
#u3402_img.disabled {
}
#u3402.disabled {
}
#u3402_img.selectedDisabled {
}
#u3402.selectedDisabled {
}
#u3402_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  word-wrap:break-word;
  text-transform:none;
}
#u3402_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:300px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u3404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:179px;
  width:409px;
  height:150px;
  display:flex;
}
#u3405 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
