body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-229px;
  width:939px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:356px;
  width:939px;
  height:249px;
}
#u5251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
  display:flex;
  color:#000000;
}
#u5251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:56px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:591px;
  height:56px;
  display:flex;
  color:#000000;
}
#u5252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:56px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:166px;
  height:56px;
  display:flex;
  color:#000000;
}
#u5253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:56px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:0px;
  width:118px;
  height:56px;
  display:flex;
  color:#000000;
}
#u5254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:65px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:56px;
  width:591px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:65px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:56px;
  width:166px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:65px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:56px;
  width:118px;
  height:65px;
  display:flex;
}
#u5258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:64px;
  height:63px;
  display:flex;
  color:#000000;
}
#u5259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:63px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:121px;
  width:591px;
  height:63px;
  display:flex;
  color:#000000;
}
#u5260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:63px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:121px;
  width:166px;
  height:63px;
  display:flex;
  color:#000000;
}
#u5261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:63px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:121px;
  width:118px;
  height:63px;
  display:flex;
  color:#000000;
}
#u5262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:64px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:65px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:184px;
  width:591px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:65px;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:184px;
  width:166px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:65px;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:184px;
  width:118px;
  height:65px;
  display:flex;
  color:#000000;
}
#u5266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:432px;
  width:24px;
  height:26px;
  display:flex;
}
#u5267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:277px;
  width:140px;
  height:40px;
  display:flex;
}
#u5268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
