body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-229px;
  width:939px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:356px;
  width:939px;
  height:249px;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
  display:flex;
  color:#000000;
}
#u4979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:56px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:0px;
  width:591px;
  height:56px;
  display:flex;
  color:#000000;
}
#u4980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:56px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:166px;
  height:56px;
  display:flex;
  color:#000000;
}
#u4981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:56px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:0px;
  width:118px;
  height:56px;
  display:flex;
  color:#000000;
}
#u4982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:65px;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:56px;
  width:591px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:65px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:56px;
  width:166px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:65px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:56px;
  width:118px;
  height:65px;
  display:flex;
}
#u4986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:64px;
  height:63px;
  display:flex;
  color:#000000;
}
#u4987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:63px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:121px;
  width:591px;
  height:63px;
  display:flex;
  color:#000000;
}
#u4988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:63px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:121px;
  width:166px;
  height:63px;
  display:flex;
  color:#000000;
}
#u4989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:63px;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:121px;
  width:118px;
  height:63px;
  display:flex;
  color:#000000;
}
#u4990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:64px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:65px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:184px;
  width:591px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:65px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:184px;
  width:166px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:65px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:184px;
  width:118px;
  height:65px;
  display:flex;
  color:#000000;
}
#u4994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:432px;
  width:24px;
  height:26px;
  display:flex;
}
#u4995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:277px;
  width:140px;
  height:40px;
  display:flex;
}
#u4996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
